@charset "UTF-8";

body{
    font-family: $base-font-family !important;
}
.width-img-100{
  width: 100%;
}

.color-overlay {
  background: #328DF9;
}

.color-overlay2 {
  background: #f7b70b;
}


.construction-header.one-page-header .navbar-nav > li > a,
.construction-header.one-page-header .navbar-nav > li > a:focus {
  padding: 8px 5px;
  margin: 0 3px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #222;
}


.promo__title {
    position: relative;
    &:after{
        position: absolute;
        width: 0;
        height: 0;
        background: #f7b70b;
        top: 50%;
        margin-top: -62px;
        content: "";
    }
}

.promo__title {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    line-height: 1.5;
}

@media (max-width: 885px) {
    .promo__title {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .promo__title:after {
        height: 80px;
        margin-top: -40px;
    }
}

@media (max-width: 495px) {
    .promo__title {
        font-size: 30px;
    }
}

.btn-gstq-v1{
    color: #fff;
    background: transparent;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    padding: 10px 20px;
    border: 1px solid #fff;
}

.container-fluid.with-bg--1 {
    background: url(../images/quote.png) no-repeat 17% 70%;
    background-size: 310px 190px;
}

.best-service--1 { background: url(../images/advantage01.jpg) no-repeat scroll 50% 0 / cover;}
.best-service--2 { background: url(../images/advantage02.jpg) no-repeat scroll 50% 0 / cover;}
.best-service--3 { background: url(../images/advantage03.jpg) no-repeat scroll 50% 0 / cover;}
.best-service--4 { background: url(../images/advantage04.jpg) no-repeat scroll 50% 0 / cover;}


.project__title {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: normal;
}

.project__img {
  box-shadow: 2px 2px 2px #328DF9;
}

.contact__cell {
    padding: 27px 15px;
    float: left;
    width: 25%;
    margin: 0;
    background: transparent;
    /*border: 1px solid #f1f1f1;*/
}

.icon-custom.testi__fa {
  background: #328DF9;
}

.contact-list__icon {
  font-size: 50px;
  color: #328DF9;
}

.heading-v14__block-name {
  color: #328DF9;
}

.heading-v14:after {
  background: #328DF9;
}

.heading-v14-1:after{
  background: #fff;
}



.container-fluid.with-bg--1 {
    background: url(../images/quote.png) no-repeat 17% 70%;
    background-size: 310px 190px;
}
.container-fluid.with-bg--2 {background: url(../images/project-bg.jpg) no-repeat 80% 95%;}
.container-fluid.with-bg--3 {background: #f9f9f9;}
.container-fluid.with-bg--4 {background: url(../img-temp/17.jpg) no-repeat 50% 80%;}
.container-fluid.with-bg--5 {background: url(../images/46.jpg) no-repeat 80% 80%;}
.container-fluid.with-bg--6 {background: url(../images/47.jpg) no-repeat 80%;}



.testi__company {
  color: #328DF9;
  font-size: 15px;
  padding-top:10px;
  text-transform: uppercase;
  font-weight: bold;
}

.testi__img {
  width: 250px !important;
  height: 140px;
  position: absolute;
  top: -70px;
  left: 50%;
  margin-left: -125px;
  border: 10px solid #f9f9f9;
}

.controls-v3.owl-theme .owl-controls .owl-buttons div {
  padding: 15px 19px;
  width: 49px;
  height: 49px;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  font-size: 13px;
  cursor: pointer;
  /*border: 3px solid #111;*/
}

.controls-v3.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
  top: 0%;
}


.career__text {
  color: #fff;
  opacity: 1;
  font-size: 18px;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}



.promo-section {
  margin-top: 0;
}
@media (max-width: 992px) {
  .promo-section {
    margin-top: 75px;
  }
}
@media (max-width: 768px) {
  .promo-section {
    margin-top: 75px;
    overflow-y: auto;
  }
}
@media (max-width: 600px) {
  .promo-section {
    margin-top: 75px;
  }
}

/* Real Estate Font Styles */
.ms-layer {
  text-align: center;
  max-width: 550px;
  left: 50% !important;
  transform: translateX(-50%);
}
.ms-thumb-list.ms-dir-v {
  /* top: 50% !important; */
  /* left: 115px !important; */
  /* height: 380px !important; */
  margin: 0;
  overflow: hidden;
}

.ms-promo-real_estate-price {
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
}
.ms-promo-real_estate-price em {
  position: relative;
  top: -5px;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
}
.ms-promo-real_estate-place {
  color: #fff;
  font-size: 46px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
}
.ms-promo-real_estate-description {
  /* max-width: 550px; */
  font-size: 18px;
  color: rgba(255,255,255,.7);
}
@media (max-width: 1024px) {
  .ms-promo-real_estate-description {
    font-size: 14px !important;
    line-height: 1.4 !important;
  }
}
@media (max-width: 900px) {
  .ms-promo-real_estate-price {
    font-size: 18px !important;
    line-height: 1.5 !important;
  }
  .ms-promo-real_estate-price em {
    top: 0;
  }
  .ms-promo-real_estate-place {
    font-size: 32px;
  }
}
@media (max-width: 800px) {
  .ms-promo-real_estate-price,
  .ms-promo-real_estate-place,
  .ms-promo-real_estate-description {
    left: 20px !important;
  }
}
@media (max-width: 767px) {
  .ms-thumb-frame {
    width: 140px !important;
    height: 90px !important;
    margin-bottom: 0 !important;
  }
}
@media (max-width: 650px) {
  .ms-thumb-frame,
  .ms-slide .btn-u {
    display: none;
  }
  .ms-promo-real_estate-place {
    font-size: 24px;
  }
}
@media (max-width: 550px) {
  .ms-promo-real_estate-price {
    font-size: 14px !important;
  }
  .ms-promo-real_estate-price.g-mb-25 {
    margin-bottom: 15px !important;
  }
  .ms-promo-real_estate-place {
    font-size: 20px;
  }
  .ms-promo-real_estate-place.g-mb-35 {
    margin-bottom: 0 !important;
  }
}



