@charset "UTF-8";

body {
    font-family: $base-font-family !important;
}

.bg-aqua {
    background-color: #00c0ef !important;
}

.bg-green {
    background-color: #00a65a !important;
}

.bg-yellow {
    background-color: #f39c12 !important;
}

.bg-red {
    background-color: #dd4b39 !important;
}

.font-16 {
    font-size: 16px !important;
}

.font-18 {
    font-size: 18px !important;
}

.info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    //border-radius: 2px;
    margin-bottom: 15px;
    .info-box-icon {
        display: block;
        float: left;
        height: 90px;
        width: 80px;
        text-align: center;
        font-size: 45px;
        line-height: 90px;
        background: rgba(0, 0, 0, 0.2);
        color: #fff;
    }
    .info-box-content {
        padding: 5px 10px;
        margin-left: 90px;
    }
    .info-box-content .info-box-text {
        display: block;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: uppercase;
    }
    .info-box-content .info-box-numer {
        display: block;
        font-weight: bold;
        font-size: 18px;
    }
}

.jumbotron-gstq {
    border-radius: 0 !important;
    background: url("../images/xxh/xxh-header.jpg") no-repeat;
    color: #fff;
    h1 {
        padding-top: 120px;
        padding-bottom: 20px;
    }
    p, h1 {
        color: #fff;
        font-weight: bold;
        text-shadow: 10px 10px 10px #000;
    }
    min-height: 450px;
}

.jumbotron-gstq-o2o {

    background: url("../images/o2o/pmsbg3.jpg") no-repeat !important;
}

.padding-top-30 {
    padding-top: 30px;
}

.padding-bottom-30 {
    padding-bottom: 30px;
}

.width-img-100 {
    width: 100%;
}

.color-overlay {
    background: #328DF9;
    opacity: 0.95;
}

.color-overlay2 {
    background: #fe6441;
}

.color-overlay-farm {
    background: green;
    opacity: 0.9;
}

.construction-header.one-page-header.navbar {
    box-shadow: 0px 0px 3px #b5b5b5;
}

.construction-header.one-page-header .navbar-nav > li > a,
.construction-header.one-page-header .navbar-nav > li > a:focus {
    padding: 8px 5px;
    margin: 0 8px;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    color: #222;
}

.promo__title {
    position: relative;
    &:after {
        position: absolute;
        width: 0;
        height: 0;
        background: #fe6441;
        top: 50%;
        margin-top: -62px;
        content: "";
    }
}

.t__title {
    font-size: 2em;
}

@media (max-width: 768px) {
    .promo-section {
        padding-top: 105px;
        //padding-top: 0;
        margin-top: 75px;
    }
}

@media (max-width: 992px) and (min-width: 769px) {
    .promo-section {
        padding-top: 105px;
        //padding-top: 0;
        margin-top: 75px;
    }
}

@media (max-width: 1200px) and (min-width: 993px) {
    .promo-section {
        padding-top: 20px;
        //padding-top: 0;
    }
}

@media (min-width: 1201px) {
    .promo-section {
        padding-top: 20px;
        //padding-top: 0;
    }
}

.btn-gstq-v1 {
    color: #fff;
    background: transparent;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    padding: 10px 20px;
    border: 1px solid #fff;
    &:hover {
        background: transparent;
    }
}

.container-fluid.with-bg--1 {
    background: url(../images/quote.png) no-repeat 17% 70%;
    background-size: 310px 190px;
}

.project__title {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: normal;
}

.project__img {
    box-shadow: 2px 2px 2px #328DF9;
}

.contact__cell {
    padding: 27px 15px;
    float: left;
    width: 25%;
    margin: 0;
    background: transparent;
    /*border: 1px solid #f1f1f1;*/
}

.icon-custom.testi__fa {
    background: #328DF9;
}

.contact-list__icon {
    font-size: 50px;
    color: #328DF9;
}

.heading-v14__block-name {
    color: #328DF9;
}

.heading-v14:after {
    background: #328DF9;
}

.heading-v14-1:after {
    background: #fff;
}

.heading-v14__title {
    color: #000;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
}

.testi__text {
    color: #777;
    font-size: 14px;
    line-height: 1.5;
}

.container-fluid.with-bg--1 {
    background: url(../images/logo/logo2.png) no-repeat 5% 70%;
}

.container-fluid.with-bg--2 {
    background: url(../images/logo/logo2.png) no-repeat 30% 25%;
}

.container-fluid.with-bg--3 {
    background: #f9f9f9;
}

.container-fluid.with-bg--4 {
    background: url(../images/logo/logo2.png) no-repeat 50% 80%;
}

.container-fluid.with-bg--5 {
    background: url(../images/logo/logo2.png) no-repeat 80% 80%;
}

.container-fluid.with-bg--6 {
    background: url(../images/logo/logo2.png) no-repeat 5%;
}

.testi__company {
    color: #328DF9;
    font-size: 15px;
    padding-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.testi__img {
    width: 250px !important;
    height: 140px;
    position: absolute;
    top: -70px;
    left: 50%;
    margin-left: -125px;
    //border: 10px solid #f9f9f9;
}

.controls-v3.owl-theme .owl-controls .owl-buttons div {
    padding: 15px 19px;
    width: 49px;
    height: 49px;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    font-size: 13px;
    cursor: pointer;
    /*border: 3px solid #111;*/
}

.controls-v3.owl-theme .owl-controls .owl-buttons div {
    position: absolute;
    top: 0%;
}

.career__text {
    color: #fff;
    opacity: 1;
    font-size: 18px;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}

// banner intro
.course {
    max-height: 700px;
    position: relative;
    img {

    }
}

.course:before {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    //z-index: 1;
}

.course__cat {
    position: absolute;
    top: 30px;
    left: 30px;
    background: #fff;
    color: #555;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    max-height: 27px;
    line-height: 0.8;
    z-index: 5;
    transition: all .2s ease-in-out;
}

.course__cat:hover {
    color: #fff;
    background: #6bda95;
    text-decoration: none;
}

.course--bottom {
    position: absolute;
    bottom: 30px;
    left: 30px;
    right: 30px;
    z-index: 5;
}

.course__dur {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

.course__icon {
    color: #6bda95;
    font-size: 22px;
}

.course__title {
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
}

.course__text {
    font-size: 1.25em;
    color: #fff;
    opacity: 0.8;
}

.course__btn-u,
.course__btn-u:focus {
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid #fff;
}

.course__btn-u:hover {
    background: transparent;
    border: 2px solid #328DF9;
}

@media (max-width: 500px) {
    .hidden-xxs {
        display: none !important;
    }
}

//
// farm index
//
.h__img_1 {
    height: 400px;
    h2 {
        position: absolute;
        top: 75%;
        width: 100%;
    }
}

.h__img_2 {
    height: 555px;
}

.h__img_3__text {
    font-size: 16px;
    color: #777;
    line-height: 2;
}

.h__img_4__text {
    font-size: 16px;
    color: #777;
    line-height: 2;
    text-indent: 2em;
}

.max-width-img {
    max-width: 100%;
    width: 100%;
}

#solutions-farm-1 {
    background: green;
    opacity: 0.9;
    h1, p {
        color: #fff;
    }
    .heading-v14:after {
        background: #fff;
    }
}

.owl2-carousel-farm-1 {
    position: relative;
}

/*Owl controls*/
.controls-v4.owl-theme .owl-controls .owl-dots {
    width: 100%;
    height: 30px;
    margin-top: 15px;
    .owl-dot {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: transparent;
        border: 1px solid #fff;
        display: inline-block;
        left: 50%;
        margin: 0 5px;
    }
    .active {
        background: #fff;
    }
}

#shangji {
    padding-top: 30px;
    padding-bottom: 30px;
    background: green;
    opacity: 0.9;
}

.heading-v15 {
    h2 {
        font-size: 2.5em;
        font-weight: bold;
        line-height: 1.2;
    }
    p {
        font-size: 1.5em;
        color: #999;
    }
}

.heading-v16 {
    h2 {
        font-size: 1.5em;
        font-weight: bold;
        line-height: 1.2;
    }
    p {
        font-size: 1.2em;
        color: #999;
    }
}

.color-white {
    color: #fff !important;
}

.color-white-down-20 {
    color: darken(#fff, 20%) !important;
}

//
// o2o
//

.counter-item {
    .features {
        width: 130px;
        height: 130px;
        padding: 25px;
        position: relative;
        text-align: center;
        display: inline-block;
        border-radius: 50% !important;
        //opacity: 0.6;
        //background: #000;
        //border: 6px solid #D7232C;
        background: #0E40C5;
        opacity: 0.8;
        border: 6px solid #3f9cea;
        .counter {
            font-size: 40px;
            font-weight: bold;
            color: #fff;
        }
    }

    > p {
        margin: 15px 0;
        font-size: 1.5em;
    }
}

#solutions-o2o-1 {
    background: #fff;
    opacity: 0.9;
    .heading-v14:after {
        background: #fff;
    }

    .controls-v4.owl-theme .owl-controls .owl-dots {
        .owl-dot {
            background: transparent;
            border: 1px solid red;
        }
        .active {
            background: red;
        }
    }
}

//
.h__img_xxh_1 {
    height: 500px;
    h2 {
        position: absolute;
        top: 75%;
        width: 100%;
    }
}

//
// update 2017-03-06
//

.promo-section-v2 {
    position: relative;
    margin-top: -40px;
}

.interactive-slider-v2 {
    &:after {
        background: transparent;
    }
    z-index: 1;
    padding: 0 0 0;
    background: #fff;
    .promo-info {
        padding: 156px 20px 0;
        text-align: left;
    }
    .promo-info h1 {
        color: #000;
        font-size: 36px;
        line-height: 45px;
        font-weight: normal;
        margin-bottom: 30px;
    }
    @media (max-width: 768px) {
        text-align: center;
    }
    .promo-info p {
        color: #999;
        font-size: 16px;
        font-weight: normal;
        line-height: 1.625;
        margin-bottom: 35px;
    }
}

@media (max-width: 1200px) {
    .interactive-slider-v2 .banner-img img {
        min-height: 640px;
    }
}

@media (max-width: 992px) {
    .interactive-slider-v2 img {
        margin: 0 auto;
    }

    .interactive-slider-v2 .promo-info {
        text-align: center;
    }
}

@media (max-width: 1200px) {
    .btn-u.btn-banner {
        margin-bottom: 20px;
    }
}

.btn-u.btn-banner .fa {
    margin: 0 10px 0 0;
    padding-top: 2px;
    vertical-align: middle;
}

.btn-u.btn-banner.btn-apple {
    background: #fe6441;
    margin-right: 30px;
}

.btn-u.btn-banner {
    padding: 10px 20px 17px;
    max-width: 180px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0;
    //border-radius: 10px;
}

.btn-u.btn-banner span.t2 {
    margin: 0 0 0 35px;
    font-size: 10px;
    font-weight: normal;
    color: #fff;
    opacity: 0.6;
}

.thumbnail-v1 {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: none;
    border-radius: 0;
    p {
        height: 80px;
        line-height: 20px;
    }
}

.backstretch:after {
    background: rgba(0, 0, 0, 0.0);
}

// owl2-carousel-v0
.owl2-carousel-v0 .owl-controls {
    position: relative;
    .owl-dots {
        text-align: center;
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
    }
    .owl-dots .owl-dot {
        display: inline-block;
        zoom: 1;
    }
    .owl-dots .owl-dot span {
        width: 10px;
        height: 10px;
        margin: 5px 7px;
        background: darken(#fff, 35%);
        display: block;
        transition: opacity .2s ease;
        border-radius: 30px;
    }
    .owl-dots .owl-dot.active span,
    .owl-dots .owl-dot:hover span {
        background: #fff;
    }
}

// owl2-carousel-v1
.owl2-carousel-v1 .owl-controls {
    .owl-nav {

    }

    .owl-nav .owl-prev,
    .owl-nav .owl-next {
        position: absolute;
        top: 35%;
        background: #fff;
        padding: 10px 5px;
        opacity: 0.9;
        &:hover {
            opacity: 1;
        }
    }

    .owl-nav .owl-prev {
        left: 0;

    }
    .owl-nav .owl-next {
        right: 0;
    }

    .owl-nav .owl-prev .fa,
    .owl-nav .owl-next .fa {
        font-size: 60px;
        color: darken(#fff, 10%);
    }
}

.testi__text2 {
    height: 80px;
    overflow: hidden;
}