/*
|--------------------------------------------------------------------------
| 电商运营解决方案 scss file
|--------------------------------------------------------------------------
| dian shang  yun ying jie jue fang an  scss file
|
|
*/
.jumbotron-gstq-dsyy {
  border-radius: 0 !important;
  background: url("../images/dsyy/dsyy.jpg") no-repeat !important;
  h1 {
    padding-bottom: 80px;
    text-align: center;
  }
  p, h1 {
    color: #fff;
    font-weight: bold;
    text-shadow: 10px 10px 10px #000;
  }
  p {
    margin-bottom: 5px;
  }
  min-height: 450px;
}

#fa {

}

#fw {
  .dsyy-fw {
    .dsyy-fw-img {
      margin-bottom: 80px;
      img {
        width: 100%;
      }
      @media (max-width: 330px) {
        img {
          width: 130px;
          height: 130px;
        }
      }
      p {
        font-size: 18px;
        margin-top: -100px;
        color: #fff;
      }
      @media (max-width: 500px) {
        p {
          font-size: 16px;
          margin-top: -60px;
          padding: 0 20px;

        }
      }
    }
    @media (max-width: 320px) {
      .dsyy-fw-img {
        margin-bottom: 40px;
      }

    }

  }

}

#wlyx {
  .dsyy-wlyx {
    p {
      font-size: 16px;
      margin-bottom: 20px;
      color: #333;
    }
    ol {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    ol li {
      font-size: 14px;
      margin-bottom: 10px;
      color: #666;
      height: 19px;
      overflow: hidden;
      padding: 0 20px;
    }
  }

  .headline-center h2:after {
    width: 100px;
    background: #EB6100;
    height: 3px;
    margin-left: -50px;
  }

}



