/*
|--------------------------------------------------------------------------
| 电商运营解决方案 scss file
|--------------------------------------------------------------------------
| dian shang  yun ying jie jue fang an  scss file
|
|
*/
.jumbotron-gstq-dsyy {
  border-radius: 0 !important;
  background: url("../images/dsyy/dsyy.jpg") no-repeat !important;
  color: #fff;
  h1 {
    padding-top: 0;
    padding-bottom: 80px;
    text-align: center;
  }
  p, h1 {
    color: #fff;
    font-weight: bold;
    text-shadow: 10px 10px 10px #000;
  }
  p {
    margin-bottom: 5px;
  }
  min-height: 450px;
}

#fa {

}

#fw{
  .wmfw {
    ul {
      li {
        float: left;
        width: 270px;
        color: #fff;
        font-size: 18px;
        text-align: center;
        padding-top: 160px;
      }
      .dsyy-list-a {
        background: url(../images/dsyy/tg.png) no-repeat;
      }
      .dsyy-list-b {
        background: url(../images/dsyy/jd.png) no-repeat;

      }
      .dsyy-list-c {
        background: url(../images/dsyy/xy.png) no-repeat;
      }
      .dsyy-list-d {
        background: url(../images/dsyy/zx.png) no-repeat;
        margin-bottom: 60px;
      }
      .dsyy-list-e {
        background: url(../images/dsyy/train.png) no-repeat;
      }
      .dsyy-list-f {
        background: url(../images/dsyy/bk.png) no-repeat;

      }
      .dsyy-list-g {
        background: url(../images/dsyy/zd.png) no-repeat;
      }
      .dsyy-list-h {
        background: url(../images/dsyy/sj.png) no-repeat;

      }
    }
  }

}

#wlyx {
  ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  ul li {
    float: left;
    width: 365px;
    //height: 423px;
    text-align: center;
    position: relative;
    p {
      font-size: 16px;
      margin-bottom: 20px;
      color: #333;
    }
    ol li {
      font-size: 14px;
      margin-bottom: 10px;
      color: #666;
      height: 19px;
      overflow: hidden;
      padding: 0 20px;
    }
  }
  .headline-center h2:after {
    width: 300px;
    background: #EB6100;
    left: 39%;
    text-align: center;

  }
}



