footer.footer
	div(class='container-fluid no-padding with-bg with-bg--6')
		div.color-overlay.color-overlay2
		div(class='container content-md')
			div.row
				div(class='col-md-5 text-left text-sm-center g-sm-mb-20 g-pt-30')
					p(class='footer__text')
						span &copy; 2016 All right reserved&nbsp;
						strong 天奇网络
				div(class='col-md-2 text-center g-sm-mb-20 g-pt-20')
					p(class='footer__support') 客服热线
						br
						span(class='footer__support--phone') +458 669 221
				div(class='col-md-5 text-right text-sm-center g-pt-25')
					ul(class='list-inline footer__list')
						li: a(href='#!'): i(class='icon-custom footer__fa icon-sm fa fa-weixin')
						li: a(href='#!'): i(class='icon-custom footer__fa icon-sm fa fa-weibo')
						li: a(href='#!'): i(class='icon-custom footer__fa icon-sm fa fa-qq')
						li: a(href='#!'): i(class='icon-custom footer__fa icon-sm fa fa-github')
						li: a(href='#!'): i(class='icon-custom footer__fa icon-sm fa fa-linkedin')