head
	title 甘肃天奇网络科技有限公司

	// meta
	meta(name='viewport',content='width=device-width, initial-scale=1.0')
	meta(http-equiv='X-UA-Compatible',content='IE=edge')
	meta(name='keywords',content='甘肃天奇 甘肃 定西')
	meta(name='author',content='buuug7')
	meta(charset='utf-8')

	// favicon
	link(rel='shortcut icon',type='image/x-icon',href='/favicon.ico')

	// css global
	link(rel='stylesheet',href='no-npm-plugins/unify-v1.9.7-onepage/assets/plugins/bootstrap/css/bootstrap.min.css')
	link(rel='stylesheet',href='no-npm-plugins/unify-v1.9.7-onepage/assets/css/app.css')
	link(rel='stylesheet',href='no-npm-plugins/unify-v1.9.7-onepage/assets/css/blocks.css')
	link(rel='stylesheet',href='no-npm-plugins/unify-v1.9.7-onepage/assets/css/one.style.css')

	// header and footer

	// plugins
	link(rel='stylesheet',href='no-npm-plugins/unify-v1.9.7-onepage/assets/plugins/animate.css')
	link(rel='stylesheet',href='no-npm-plugins/unify-v1.9.7-onepage/assets/plugins/line-icons/line-icons.css')
	link(rel='stylesheet',href='no-npm-plugins/unify-v1.9.7-onepage/assets/plugins/font-awesome/css/font-awesome.min.css')
	link(rel='stylesheet',href='no-npm-plugins/unify-v1.9.7-onepage/assets/plugins/owl-carousel2/assets/owl.carousel.css')
	link(rel='stylesheet',href='no-npm-plugins/unify-v1.9.7-onepage/assets/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css')
	link(rel='stylesheet',href='no-npm-plugins/unify-v1.9.7-onepage/assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css')
	link(rel='stylesheet',href='no-npm-plugins/unify-v1.9.7-onepage/assets/plugins/pace/pace-flash.css')
	link(rel='stylesheet',href='no-npm-plugins/unify-v1.9.7-onepage/assets/plugins/master-slider/masterslider/style/masterslider.css')

	// theme

	// customization
	link(rel='stylesheet',href='styles/app.css')



