nav(class='header one-page-header navbar navbar-default navbar-fixed-top construction-header one-page-nav-scrolling one-page-nav__fixed',data-role="navigation")
    div.container
        div(class="menu-container page-scroll")
            button(type='button',class='navbar-toggle',data-toggle='collapse',data-target='.navbar-ex1-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='/')
                img.img-responsive(src='images/logo/logo2.png',alt='Logo')
        div(class='collapse navbar-collapse navbar-ex1-collapse g-pt-25 g-sm-pt-0')
            div(class='menu-container')
                ul(class='nav navbar-nav')
                    li(class='page-scroll home'): a(href='#body'): span(data-hover='Home') 首页
                    li(class='page-scroll'): a(href='#problem') 传统农贸问题
                    li(class='page-scroll'): a(href='#shangji') 商机
                    li(class='page-scroll'): a(href='#solutions-farm') 解决方案
                    li(class='page-scroll'): a(href='#solutions-farm-1') 网络分销&门店分销
                    li(class='page-scroll'): a(href='#contact') 联系我们
