// global
script(src='no-npm-plugins/unify-v1.9.7/one-page/assets/plugins/jquery/jquery.min.js')
script(src='no-npm-plugins/unify-v1.9.7/one-page/assets/plugins/jquery/jquery-migrate.min.js')
script(src='no-npm-plugins/unify-v1.9.7/one-page/assets/plugins/bootstrap/js/bootstrap.min.js')
// plugins

script(src='no-npm-plugins/unify-v1.9.7/one-page/assets/plugins/smoothScroll.js')
script(src='no-npm-plugins/unify-v1.9.7/one-page/assets/plugins/jquery.easing.min.js')
script(src='no-npm-plugins/unify-v1.9.7/one-page/assets/plugins/pace/pace.min.js')
script(src='no-npm-plugins/unify-v1.9.7/one-page/assets/plugins/owl-carousel2/owl.carousel.min.js')
script(src='no-npm-plugins/unify-v1.9.7/one-page/assets/plugins/sky-forms-pro/skyforms/js/jquery.form.min.js')
script(src='no-npm-plugins/unify-v1.9.7/one-page/assets/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js')
script(src='no-npm-plugins/unify-v1.9.7/one-page/assets/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js')
script(src='no-npm-plugins/unify-v1.9.7/one-page/assets/plugins/modernizr.js')
script(src='no-npm-plugins/unify-v1.9.7/one-page/assets/plugins/backstretch/jquery.backstretch.min.js')
script(src='no-npm-plugins/unify-v1.9.7/one-page/assets/plugins/back-to-top.js')
//counter
script(src='no-npm-plugins/unify-v1.9.7/one-page/assets/plugins/counter/waypoints.min.js')
script(src='no-npm-plugins/unify-v1.9.7/one-page/assets/plugins/counter/jquery.counterup.min.js')

//raphael-min
script(src='plugins/flowchart.js/site/raphael-min.js')

// flowchart.js
script(src='plugins/flowchart.js/site/flowchart-latest.js')

// page level
script(src='no-npm-plugins/unify-v1.9.7/one-page/assets/js/one.app.js')

// custom
script(src='scripts/app.js')

<!-- [if lt IE 9]>
<script src="no-npm-plugins/unify-v1.9.7/one-page/assets/plugins/respond.js"></script>
<script src="no-npm-plugins/unify-v1.9.7/one-page/assets/plugins/html5shiv.js"></script>
<![endif]-->

<!-- [if lt IE 10]>
<script src="no-npm-plugins/unify-v1.9.7/one-page/assets/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
<![endif]-->

