div.carousel.slide(id='carousel-id',data-ride="carousel")
    ol.carousel-indicators
        li(data-target='#carousel-id',data-slide-to='0',class='active')
        li(data-target='#carousel-id',data-slide-to='1')
        li(data-target='#carousel-id',data-slide-to='2')
    div.carousel-inner
        div.item.active
            img(src='images/slide01.jpg')
            div.carousel-caption
                div.container
                    h2 企业政府信息化解决方案
                    p(class='hidden-xs') 专注于信息传播，网络简化、灵活接入、链路加速、数据加密等方面持续创新
                    p: a(href='#!',class='btn btn-rect') 查看详情
        div.item
            img(src='images/slide03.jpg')
            div.carousel-caption
                div.container
                    h2 4039网页游戏平台
                    p(class='hidden-xs') 致力于"用户体验第一"的理念，立志成为"国内领先、世界一流"的网页游戏平台
                    p: a(href='#!',class='btn btn-rect') 点击试玩
        div.item
            img(src='images/slide02.jpg')
            div.carousel-caption
                div.container
                    h2 农村电子商务
                    p(class='hidden-xs') 万亿级农村大蛋糕，你准备好了吗？
                    p: a(href='#!',class='btn btn-rect') Are You Ready ?



