doctype html
doctype html
<!--[if IE 9]>
html.ie9(lang='en')
<![endif]-->
<!--[if !IE 9]>
html(lang='en')
<![endif]-->
include _head
body(class='demo-lightbox-gallery font-main promo-padding-top',id="body",data-spy="scroll",data-target=".one-page-header")
    main.wrapper
        // navbar
        include _navbar-o2o

        section.promo-section.g-mb-40
            div.container-fluid
                div.jumbotron.jumbotron-gstq.jumbotron-gstq-o2o
                    div.container
                        h1 O2O营销服务解决方案
                        p 为商家提供基于支付宝、微信等平台开发、运营、推广、数据分析等一系列O2O解决方案服务，加速企业O2O战略布局


        section.padding-top-30.padding-bottom-30#qushi
            div(class='container')
                div(class='heading-v15 text-center g-mb-60')
                    h2(class='') 零售品牌布局全渠道已经成为趋势
                    p(class='')  线上线下各具优势，融合成致胜关键
                div.row: div.col-lg-12
                    p(style='font-size:20px;color:#555;') 2015年成为零售业o2o拐点年，预计<span style="color:red;">50+</span>的淘品牌落地开设实体店，中国零售连锁百强中<span style="color:red;">82%</span>的企业已开展电子商务业务。

        section.padding-top-30.padding-bottom-30#shuju(style='background:#EEEFF3;')
            div.container
                div(class='heading-v15 text-center g-mb-60')
                    h2(class='') 他们都在布局全渠道，你准备好了吗？
                    p(class='')  以下数据来源于：JDA联合普华
                div.row
                    div.col-md-3.col-sm-6.col-xs-6.text-center.counter-item.g-mb-40
                        div.features: span.counter 98
                        p(class='text-center') 98%的公司加大了对全渠道的投资
                    div.col-md-3.col-sm-6.col-xs-6.text-center.counter-item.g-mb-40
                        div.features: span.counter 45
                        p(class='text-center') 全局到各层面投资占全年总投资45%
                    div.col-md-3.col-sm-6.col-xs-6.text-center.counter-item.g-mb-40
                        div.features.text-center: span.counter 60
                        p(class='text-center') 60%的中国企业从线上运营中盈利
                    div.col-md-3.col-sm-6.col-xs-6.text-center.counter-item.g-mb-40
                        div.features: span.counter 75
                        p(class='text-center') 75%实现了实体店客户体验的转型

        section#solutions-o2o.padding-top-30.padding-bottom-30
            div.container
                div(class='heading-v15 text-center g-mb-60')
                    h2 品牌O2O分销&零售解决方案
                    p 拥抱全渠道
                p.h__img_3__text 2015年，线上线下分野愈发淡化，零售在线上线下的融合已成为时代的选择。
                p.h__img_3__text 当大量的传统品牌快速响应，积极涌入各大电商平台的时候，各大电商大佬、线上品牌也纷纷布局线下，规划O2O战略、补短体验感！
                p.h__img_3__text 天奇网络推出【品牌O2O分销&零售解决方案】，旨在帮助品牌O2O优化品牌经营与提升服务体验的同时，落实全渠道O2O，重塑品牌竞争力。
                p.h__img_3__text 希冀有朝一日，成就“中国之星”，走出国门，走向世界！
                p: div(style='width:100%;overflow-x:auto;text-align:center;')#canvas1.padding-top-30
                p: div(style='width:100%;overflow-x:auto;text-align:center;')#canvas2.padding-top-30
                p: div(style='width:100%;overflow-x:auto;text-align:center;')#canvas3.padding-top-30

        section#lll.padding-top-30.padding-bottom-30(style='background:#EEEFF3;')
            div.container-fluid
                div.row
                    div.col-lg-12
                        img(src='images/o2o/o2o5.png',style='',class='img-responsive center-block')

        section#solutions-o2o-2.padding-top-30.padding-bottom-30
            div.container
                div(class='heading-v15 text-center g-mb-60')
                    h2 O2O电商平台核心功能
                    p 线上线下完美结合，聚集消费群体，直观的营销效果及追踪评估，带来更多的商家
                div.row
                    div.col-lg-3.col-md-3.col-sm-4.col-xs-6
                        div.thumbnail.thumbnail-v1
                            img(src='images/o2o/ts2.png')
                            h3(class='text-center') 售卖区域
                            p 平台灵活掌握多级地区管理，店铺设置售卖区域及区域内运费模板，与商品关联
                    div.col-lg-3.col-md-3.col-sm-4.col-xs-6
                        div.thumbnail.thumbnail-v1
                            img(src='images/o2o/ts3.png')
                            h3(class='text-center') 消保服务
                            p 商城设定消保服务规则及保证金额，店铺参加获得消费者包装标识，并应严格履行服务内容。
                    div.col-lg-3.col-md-3.col-sm-4.col-xs-6
                        div.thumbnail.thumbnail-v1
                            img(src='images/o2o/ts4.png')
                            h3(class='text-center') 微信登录、支付
                            p 平台可开启使用微信账号绑定登录，更可申请开通微信支付功能，手机微信扫码轻松完成支付
                    div.col-lg-3.col-md-3.col-sm-4.col-xs-6
                        div.thumbnail.thumbnail-v1
                            img(src='images/o2o/ts5.png')
                            h3(class='text-center') 平台红包
                            p 平台红包、店铺代金券可多种方式供会员领取，并可设定与消费金额、会员等级、积分等相关信息关联。
                    div.col-lg-3.col-md-3.col-sm-4.col-xs-6
                        div.thumbnail.thumbnail-v1
                            img(src='images/o2o/ts15.png')
                            h3(class='text-center') 移动端应用
                            p 量身定制iOS/Android/WAP版手机应用以及微信管理，微信支付等功能让商城在移动终端市场占据相应份额。
                    div.col-lg-3.col-md-3.col-sm-4.col-xs-6
                        div.thumbnail.thumbnail-v1
                            img(src='images/o2o/ts6.png')
                            h3(class='text-center') 商品SKU
                            p 灵活多变的商品规格属性设定，商城管理建立类型与商品分类绑定，商家可自行定义商品SKU。
                    div.col-lg-3.col-md-3.col-sm-4.col-xs-6
                        div.thumbnail.thumbnail-v1
                            img(src='images/o2o/ts12.png')
                            h3(class='text-center') 平台结算
                            p 平台统一收取货款，按商品分类分佣比列与商户之间进行一定时间段内的货款结算，能更好的监管交易质量。
                    div.col-lg-3.col-md-3.col-sm-4.col-xs-6
                        div.thumbnail.thumbnail-v1
                            img(src='images/o2o/ts8.png')
                            h3(class='text-center') 在线客服
                            p 在线聊天IM系统让买卖双方沟通变得简单，聊天记录可查询，商家可建立多个售前售后客服。
                    div.col-lg-3.col-md-3.col-sm-4.col-xs-6
                        div.thumbnail.thumbnail-v1
                            img(src='images/o2o/ts9.png')
                            h3(class='text-center') 虚拟商品
                            p 虚拟商品使商城实现本地化销售（O2O模式）简单易行，线上购买获取兑换码，线下消费完成订单。
                    div.col-lg-3.col-md-3.col-sm-4.col-xs-6
                        div.thumbnail.thumbnail-v1
                            img(src='images/o2o/ts10.png')
                            h3(class='text-center') 频道专题
                            p 频道页面自定义编辑与商城分类进行绑定，让各类商品大类个性展示鲜明，专题页面则是促销集合的体现。
                    div.col-lg-3.col-md-3.col-sm-4.col-xs-6
                        div.thumbnail.thumbnail-v1
                            img(src='images/o2o/ts13.png')
                            h3(class='text-center') 预存款充值卡
                            p 商城预存款、在线支付，多种形式的账户付款方式既让会员的账户安全可靠又灵活多样。
                    div.col-lg-3.col-md-3.col-sm-4.col-xs-6
                        div.thumbnail.thumbnail-v1
                            img(src='images/o2o/ts14.png')
                            h3(class='text-center') 晒单分享
                            p 买家可对完成的订单进行评价和晒单，也可在微商城、圈子等多频道进行分享，更可分享至站外微博微信。

        section#solutions-o2o-1.padding-top-30.padding-bottom-30(style='background:#EEEFF3;')
            div.container
                div(class='heading-v15 text-center g-mb-60')
                    h2(class='') 网络分销&门店分销
                    p(class='')  线上线下 融合多渠道
                div(class='owl2-carousel-o2o-1 owl-theme controls-v4')
                    div(class='item active')
                        img(src='images/o2o/wl-qu1.jpg')
                    div(class='item')
                        img(src='images/o2o/wl-qu2.jpg')
                    div(class='item')
                        img(src='images/o2o/wl-qu3.jpg')

        include _contact-us
        // footer
        include _footer
    include _scripts
    script.
        $(function () {
            // canvas1
            var code1 =
                'st=>start: 网店/PC商城\n' +
                'e=>end: 消费者\n' +
                'io1=>inputoutput: 区域体验总店\n' +
                'io2=>inputoutput: 导购达人/微商\n' +
                '' +
                'st(right)->io1(right)->io2(right)->e\n' +
                '';
            flowchart.parse(code1).drawSVG('canvas1', {});

            // canvas2
            var code2 =
                'st=>start: 区域体验总店\n' +
                'e=>end: 消费者\n' +
                'io1=>inputoutput: 网店/PC商城\n' +
                'io2=>inputoutput: 导购达人/微商\n' +
                '' +
                'st(right)->io1(right)->io2(right)->e\n' +
                '';
            flowchart.parse(code2).drawSVG('canvas2', {});

            // canvas3
            var code3 =
                'st=>start: 加盟店/合作外店\n' +
                'e=>end: 消费者\n' +
                'io1=>inputoutput: 导购达人/微商\n' +
                '' +
                'st(right)->io1(right)->e\n' +
                '';
            flowchart.parse(code3).drawSVG('canvas3', {});
        });
