doctype html
<!--[if IE 9]>
html.ie9(lang='en')
<![endif]-->
<!--[if !IE 9]>
html(lang='en')
<![endif]-->
include _head
body(class='demo-lightbox-gallery font-main promo-padding-top',id="body",data-spy="scroll",data-target=".one-page-header")
	main.wrapper
		// navbar
		include _navbar

		// promo block
		section.promo-section#intro
			div(class='container-fluid g-mb-40')
				div(class='owl2-carousel-v0 owl-theme animated slideInUp')
					div(class='item text-left')
						div(class='course')
							img(class='img-responsive',src='images/slider/3.jpg',alt='')
							//a(href='#!',class='course__cat g-padding-10') 企业政务信息化
							div(class='course--bottom')
								span(class='course__dur')
									span.t__title 企业政务信息化
								h1(class='course__title g-mb-20 font-main')
									a(href='#!',class='Dance Courses')
								p(class='course__text g-mb-30 hidden-xxs') 帮助企业政府部门建立安全、可靠、高效的门户网站以及公众信息平台网络。我们专注于信息传播，网络简化、灵活接入、链路加速、数据加密等方面持续创新。
								a(href='#!',class='btn-u course__btn-u') 了解更多
					div(class='item text-left')
						div(class='course')
							img(class='img-responsive',src='images/slider/5.jpg',alt='')
							//a(href='#!',class='course__cat g-padding-10') 农村电子商务
							div(class='course--bottom')
								span(class='course__dur')
									span.t__title 农村电子商务
								h1(class='course__title g-mb-20 font-main')
									a(href='#!',class='Dance Courses')
								p(class='course__text g-mb-30 hidden-xxs') 电子商务的发展不断蚕食实体店市场份额，传统百货商场经营受电商冲击猛烈，万亿级别的农村市场也有你的一份，我们致力于为你提供最全面的农村电子商务解决方案。
								a(href='index-farm.html',target='_blank',class='btn-u course__btn-u') 了解更多
					div(class='item text-left')
						div(class='course')
							img(class='img-responsive',src='images/slider/9.jpg',alt='')
							//a(href='#!',class='course__cat g-padding-10') O2O营销服务解决方案
							div(class='course--bottom')
								span(class='course__dur')
									//span.t__title O2O营销服务解决方案
								h1(class='course__title g-mb-20 font-main')
									a(href='index-farm.html',target='_blank',class='Dance Courses')
								//p(class='course__text g-mb-30  hidden-xxs') 为商家提供基于支付宝、微信等平台开发、运营、推广、数据分析等一系列O2O解决方案服务，加速企业O2O战略布局…
								a(href='index-o2o.html',target='_blank',class='btn-u course__btn-u') 查看更多
					div(class='item text-left')
						div(class='course')
							img(class='img-responsive',src='images/slider/2.jpg',alt='')
							//a(href='#!',class='course__cat g-padding-10') 4039页游平台
							div(class='course--bottom')
								span(class='course__dur')
									span.t__title 4039页游平台
								h1(class='course__title g-mb-20 font-main')
									a(href='#!',class='Dance Courses')
								p(class='course__text g-mb-30 hidden-xxs') 4039页游平台以高水准的技术团队为核心，追踪最新页游资讯，打造最好的页游攻略，提供最完善的用户体验，立志成为游戏玩家首要选择的游戏资讯网站。
								a(href='http://www.4039.com/index.html',target='_blank',class='btn-u course__btn-u') 试玩
					div(class='item text-left')
						div(class='course')
							img(class='img-responsive',src='images/slider/7.jpg',alt='')
					div(class='item text-left')
						div(class='course')
							img(class='img-responsive',src='images/slider/8.jpg',alt='')

		// latest news
		section#news
			div(class='container-fluid no-padding with-bg with-bg--1')
				div(class='color-overlay ')
				div.container
					div(class='row')
						div(class='col-md-12 col-sm-12 ')
							div(class='call-action-v1 call-action-v1-boxed')
								div(class='call-action-v1-box')
									div(class='call-action-v1-in')
										h3(class='cta__title font-main') News
										p(class='cta__text') 恭喜定西生活网上线,网站旨在定西市以及周边的所有用户提供,方便、快捷、有效多样化，全面系统的优质服务,衣食住行、娱乐休闲、信息发布、在线支付、我们期待您的访问和反馈
									div(class='call-action-v1-in inner-btn page-scroll')
										a(href='#!',class='btn-u btn-gstq-v1 trim')
											span 阅读更多

		// solutions
		section#solutions
			div(class='container-fluid with-bg--3')
				div(class='content-lg')
					div(class='heading-v14 text-center g-mb-40')
						span(class='heading-v14__block-name g-dp-block g-mb-20') SOLUTIONS
						h1(class='heading-v14__title font-main g-mb-60') 解决方案
						p(class='heading-v14__text') 专业行业电商经验，我们懂您的真正的需求
					div(class='owl2-carousel-v1 owl-theme')
						div(class='item text-center g-pt-60')
							div.testi
								img(class='testi__img',src='images/solution2.jpg',alt='')
								span(class='testi__name g-dp-block') 企业政务信息化
								a(class='testi__company g-dp-block g-mb-30',href='#!') 查看详情
								p(class='testi__text') 帮助企业政府部门建立安全、可靠、高效的门户网站以及公众信息平台网络。我们专注于信息传播，网络简化、灵活接入、链路加速、数据加密等方面持续创新。

						div(class='item text-center g-pt-60')
							div.testi
								img(class='testi__img',src='images/solution1.jpg',alt='')
								span(class='testi__name g-dp-block') 农村电子商务
								a(class='testi__company g-dp-block g-mb-30',href='index-farm.html',target='_blank',) 查看详情
								p(class='testi__text') 支持”自营+商家入驻模式“来迅速扩充工业和农产品品类，完美打通当下农村/城市信息壁垒痛点，是您开启农村电商蓝海市场的不二之选...

						div(class='item text-center g-pt-60')
							div.testi
								img(class='testi__img',src='images/solution3.jpg',alt='')
								span(class='testi__name g-dp-block') O2O营销服务解决方案
								a(class='testi__company g-dp-block g-mb-30',href='index-o2o.html',target='_blank') 查看详情
								p(class='testi__text') 为商家提供基于支付宝、微信等平台开发、运营、推广、数据分析等一系列O2O解决方案服务，加速企业O2O战略布局…

						div(class='item text-center g-pt-60')
							div.testi
								img(class='testi__img',src='images/solution6.jpg',alt='')
								span(class='testi__name g-dp-block') 深度连接线上线下解决方案
								a(class='testi__company g-dp-block g-mb-30',href='#!') 查看详情
								p(class='testi__text') 对于传统门店而言，实现O2O资源整合，深化线上线下间的协同关系至关重要。HiPOS作为移动云商城多门店O2O解决方案的核心部分......

						div(class='item text-center g-pt-60')
							div.testi
								img(class='testi__img',src='images/solution5.jpg',alt='')
								span(class='testi__name g-dp-block') O2O门店管理解决方案
								a(class='testi__company g-dp-block g-mb-30',href='#!') 查看详情
								p(class='testi__text') O2O门店管理以门店APP为依托，并集订单核销、快速收银、商品管理、精准对账等诸多功能，让商家能够随时随地简单高效管理门店……

						div(class='item text-center g-pt-60')
							div.testi
								img(class='testi__img',src='images/solution4.jpg',alt='')
								span(class='testi__name g-dp-block') 娱乐游戏资讯
								a(class='testi__company g-dp-block g-mb-30',href='http://www.4039.com/index.html',target='_blank') 查看详情
								p(class='testi__text') 4039页游平台以高水准的技术团队为核心，追踪最新页游资讯，打造最好的页游攻略，提供最完善的用户体验，立志成为游戏玩家首要选择的游戏资讯网站。


		// advantage
		section#advantage
			div(class='container-fluid with-bg with-bg--2 no-padding')
				div.color-overlay
				div(class='container content-lg')
					div(class='heading-v14 heading-v14-1 heading-v14--diff text-center g-mb-100')
						span(class='heading-v14__block-name g-dp-block g-mb-20') preponderance
						h1(class='heading-v14__title font-main') 我们的优势
					div.row
						div(class='col-md-2 col-sm-4 col-xs-6 g-sm-mb-50')
							img(class='img-responsive g-mb-20 width-img-100',src='images/y01.png')
							h2(class='project__title font-main g-mb-20 text-center') 完善服务，极致体验

						div(class='col-md-2 col-sm-4 col-xs-6 g-sm-mb-50')
							img(class='img-responsive g-mb-20 width-img-100',src='images/y02.png')
							h2(class='project__title font-main g-mb-20 text-center') 专业团队，用心创造

						div(class='col-md-2 col-sm-4 col-xs-6 g-sm-mb-50')
							img(class='img-responsive g-mb-20 width-img-100',src='images/y03.png')
							h2(class='project__title font-main g-mb-20 text-center') 品质卓越，产品一流

						div(class='col-md-2 col-sm-4 col-xs-6  g-sm-mb-50')
							img(class='img-responsive g-mb-20 width-img-100',src='images/y04.png')
							h2(class='project__title font-main g-mb-20 text-center') 贴心服务，完美售后

						div(class='col-md-2 col-sm-4 col-xs-6  g-sm-mb-50')
							img(class='img-responsive g-mb-20 width-img-100',src='images/y05.png')
							h2(class='project__title font-main g-mb-20 text-center') 安全高效

						div(class='col-md-2 col-sm-4 col-xs-6  g-sm-mb-50')
							img(class='img-responsive g-mb-20 width-img-100',src='images/y06.png')
							h2(class='project__title font-main g-mb-20 text-center') 90万+客户的选择


		// our partner
		section#partner
			div(class='container-fluid no-padding')
				div.color-overlay2
				div(class='container content-md')
					div(class='heading-v14 text-center g-mb-60')
						span(class='heading-v14__block-name g-dp-block g-mb-20') PARTNER
						h1(class='heading-v14__title font-main g-mb-60') 合作伙伴
						p(class='heading-v14__text') 与国内外知名公司和团队合作，为您带来优质的价值，为您的电商之路保驾护航
					div(class='owl2-carousel-v2 owl-theme')
						div.item: a(href='#!'): img(src='images/partner/aliyun.png',class='client__img',alt='')
						div.item: a(href='#!'): img(src='images/partner/qiniu.png',class='client__img',alt='')
						div.item: a(href='#!'): img(src='images/partner/tengxunyun.png',class='client__img',alt='')
						div.item: a(href='#!'): img(src='images/partner/aws.png',class='client__img',alt='')
						div.item: a(href='#!'): img(src='images/partner/zhifubao.png',class='client__img',alt='')
						div.item: a(href='#!'): img(src='images/partner/microsoft.png',class='client__img',alt='')

		// purpose
		section#purpose
			div(class='container-fluid with-bg with-bg--5 no-padding')
				div.color-overlay
				div(class='container content-lg g-pt-90')
					div(class='owl2-carousel-v3 owl-theme controls-v3')
						div(class='item text-center')
							p(class='career__text g-mb-40') 为包括我们的股东、顾客、员工，乃至商业伙伴在内的所有人提供创造和实现他们美好梦想的机会
						div(class='item text-center')
							p(class='career__text g-mb-40') 以自有技术开发、销售和增值服务为核心，面向行业应用的软件和服务提供商，努力以先进的技术、专业的服务，最大程度地满足客户网站时代业务发展需要
		// contact
		include _contact-us
		// footer
		include _footer
	include _scripts

