doctype html
doctype html
<!--[if IE 9]>
html.ie9(lang='en')
<![endif]-->
<!--[if !IE 9]>
html(lang='en')
<![endif]-->
include _head
body(class='demo-lightbox-gallery font-main promo-padding-top',id="body",data-spy="scroll",data-target=".one-page-header")
    main.wrapper
        // navbar
        include _navbar-o2o

        section.promo-section.g-mb-40
            div.container-fluid
                div.jumbotron.jumbotron-gstq.jumbotron-gstq-o2o
                    div.container
                        h1 O2O营销服务解决方案
                        p 为商家提供基于支付宝、微信等平台开发、运营、推广、数据分析等一系列O2O解决方案服务，加速企业O2O战略布局


        section.padding-top-30.padding-bottom-30#qushi
            div(class='container')
                div(class='heading-v15 text-center g-mb-60')
                    h2(class='') 零售品牌布局全渠道已经成为趋势
                    p(class='')  线上线下各具优势，融合成致胜关键
                div.row: div.col-lg-12
                    p(style='font-size:20px;color:#555;') 2015年成为零售业o2o拐点年，预计<span style="color:red;">50+</span>的淘品牌落地开设实体店，中国零售连锁百强中<span style="color:red;">82%</span>的企业已开展电子商务业务。

        section.padding-top-30.padding-bottom-30#shuju(style='background:#EEEFF3;')
            div.container
                div(class='heading-v15 text-center g-mb-60')
                    h2(class='') 他们都在布局全渠道，你准备好了吗？
                    p(class='')  以下数据来源于：JDA联合普华
                div.row
                    div.col-md-3.col-sm-6.col-xs-6.text-center.counter-item.g-mb-40
                        div.features: span.counter 98
                        p(class='text-center') 98%的公司加大了对全渠道的投资
                    div.col-md-3.col-sm-6.col-xs-6.text-center.counter-item.g-mb-40
                        div.features: span.counter 45
                        p(class='text-center') 全局到各层面投资占全年总投资45%
                    div.col-md-3.col-sm-6.col-xs-6.text-center.counter-item.g-mb-40
                        div.features.text-center: span.counter 60
                        p(class='text-center') 60%的中国企业从线上运营中盈利
                    div.col-md-3.col-sm-6.col-xs-6.text-center.counter-item.g-mb-40
                        div.features: span.counter 75
                        p(class='text-center') 75%实现了实体店客户体验的转型

        section#solutions-o2o.padding-top-30.padding-bottom-30
            div.container
                div(class='heading-v15 text-center g-mb-60')
                    h2 品牌O2O分销&零售解决方案
                    p 拥抱全渠道
                p.h__img_3__text 2015年，线上线下分野愈发淡化，零售在线上线下的融合已成为时代的选择。
                p.h__img_3__text 当大量的传统品牌快速响应，积极涌入各大电商平台的时候，各大电商大佬、线上品牌也纷纷布局线下，规划O2O战略、补短体验感！
                p.h__img_3__text 天奇网络推出【品牌O2O分销&零售解决方案】，旨在帮助品牌O2O优化品牌经营与提升服务体验的同时，落实全渠道O2O，重塑品牌竞争力。
                p.h__img_3__text 希冀有朝一日，成就“中国之星”，走出国门，走向世界！

        section#solutions-o2o-1.padding-top-30.padding-bottom-30(style='background:#EEEFF3;')
            div.container
                div(class='heading-v15 text-center g-mb-60')
                    h2(class='') 网络分销&门店分销
                    p(class='')  线上线下 融合多渠道
                div(class='owl2-carousel-o2o-1 owl-theme controls-v4')
                    div(class='item active')
                        img(src='images/o2o/wl-qu1.jpg')
                    div(class='item')
                        img(src='images/o2o/wl-qu2.jpg')
                    div(class='item')
                        img(src='images/o2o/wl-qu3.jpg')
        include _contact-us
        // footer
        include _footer
    include _scripts
